button{
    width: 100px;
    height: 40px;
    margin: 0 auto;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
}

input{
    margin-top: 10px;
    width: 200px;
    height: 20px;
    margin: 0 auto;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px; 
}